* {
    margin: 0;
    padding: 0;
}

html, body {

}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Loading */
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #6060e0;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}


.space {
    flex: 1;
}

input:focus, button:focus, textarea:focus {
    outline: none;
}

/* Link Style */
a, button {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p, input, select, textarea, a, ul, li, mark, button {
    font-family: 'Gamja Flower', cursive;
    font-size: 1em;
}

.clearfix:before, .clearfix:after {
    clear: both;
    content: '';
    display: block;
}

.toolbar {
    width: 960px;
    margin: 50px auto auto auto;
    display: flex;
}

.toolbar .user-btn {
    font-size: 1.2em;
    color: #cccccc;
    border-radius: 44px;
    margin-right: 20px;
}

.toolbar .logout-btn {
    color: #cccccc;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.toolbar .user-btn:hover {
    color: #6060e0;
}

.toolbar .logout-btn:hover {
    color: #6060e0;
}

header {
    width: 960px;
    font-size: 2em;
    text-align: center;
    margin: auto auto 100px;
}

header .logo {
    text-align: center;
    height: 100px;
    line-height: 100px;
    margin-top: 100px;
}

header form {
    display: block;
}

header form .search-field {
    width: 100%;
    height: 100%;
    border: 0;
    border-bottom: 1px solid #eee;
    padding: 10px 20px;
    transition: all 300ms;
}

header form .search-field:focus {
    border-bottom: 2px solid #6060e0;
}

main {
    width: 960px;
    margin: auto;
}

.mr-10 {
    margin-right: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination * {

}

.pagination li {
    display: flex;
    height: 30px;
    min-width: 30px;
    margin: 0 5px;
}

.pagination li .page-link, .pagination li span.page-link > span {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 30px;
    line-height: 0;
}

.pagination li.disabled .page-link {
    background-color: #cccccc;
    border: 1px solid #cccccc;
    border-radius: 30px;
    cursor: not-allowed;
}

.pagination li.active .page-link {
    background-color: #6060e0;
    color: #ffffff;
    border: 1px solid #6060e0;
    border-radius: 30px;
}

.pagination li .page-link > span {

}

.pagination li .page-link span:not(.sr-only) {
    line-height: 0;
    font-family: 'Roboto', sans-serif !important;
}

.pagination .sr-only {
    display: none !important;
}

ul.table {
    display: table;
    width: 100%;
}

ul.table li.table-row {
    display: table-row;
}

ul.table li.table-row.header {
    display: table-header-group;
}

ul.table li.table-row .cell {
    padding: 20px;
    display: table-cell;
    border-bottom: 1px solid #dddddd;;
}

ul.table li.table-row .cell.cell-5 { width: 5%; }
ul.table li.table-row .cell.cell-10 { width: 10%; }
ul.table li.table-row .cell.cell-15 { width: 15%; }
ul.table li.table-row .cell.cell-20 { width: 20%; }
ul.table li.table-row .cell.cell-25 { width: 25%; }
ul.table li.table-row .cell.cell-30 { width: 30%; }
ul.table li.table-row .cell.cell-35 { width: 35%; }
ul.table li.table-row .cell.cell-40 { width: 40%; }
ul.table li.table-row .cell.cell-45 { width: 45%; }
ul.table li.table-row .cell.cell-50 { width: 50%; }
ul.table li.table-row .cell.cell-55 { width: 55%; }
ul.table li.table-row .cell.cell-60 { width: 60%; }
ul.table li.table-row .cell.cell-65 { width: 65%; }
ul.table li.table-row .cell.cell-70 { width: 70%; }
ul.table li.table-row .cell.cell-75 { width: 75%; }
ul.table li.table-row .cell.cell-80 { width: 80%; }
ul.table li.table-row .cell.cell-85 { width: 85%; }
ul.table li.table-row .cell.cell-90 { width: 90%; }
ul.table li.table-row .cell.cell-95 { width: 95%; }
ul.table li.table-row .cell.cell-100 { width: 100%; }

.main-table {
    font-size: 1em;
    font-weight: 100;
    margin-bottom: 40px;
}

.main-table li .cell:first-child {
    width: 10%;
}

.main-table li .cell:nth-child(2) {
    width: 40%;
}

.main-page {
    padding-bottom: 100px;
}

.main-page .action {
    display: block;
    text-align: right;
}

.write-page .container.write {
    padding-top: 150px;
    font-size: 2em;
}

.write-page .container.write p {
    font-size: 1.4em;
}

.write-page .container.write .create-title {
    border: 1px solid #ccc;
    border-bottom: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
}

.write-page .container.write .action {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.write-page .container.write .save-btn {
    background-color: #ffffff;
    border: 0;
}

.write-page .container.write .action-btn i {
    border-radius: 10px;
    border: 3px solid #cccccc;
    font-size: 46px;
    color: #cccccc;
    cursor: pointer;
}

.write-page .container.write .action-btn:hover i {
    border: 3px solid #6060e0;
    color: #6060e0;
}

.write-page .fr-toolbar.fr-top {
    border-radius: 0;
}

.detail-page .content {
    font-size: 1.4em;
}

.detail-page .action {
    display: flex;
    margin-bottom: 50px;
}

.detail-page .action .back-btn i {
    border: 3px solid #6060e0;
    border-radius: 2em;
    padding: 10px;
    font-size: 2em;
    color: #6060e0;
}

.detail-page .action .update-link i {

}

.link-btn-icon {
    background-color: transparent;
    border: 0;
}

.link-btn-icon i {
    border: 3px solid #cccccc;
    border-radius: 2em;
    padding: 10px;
    font-size: 2em;
    color: #cccccc;
    transition: all 300ms;
}

.link-btn-icon:hover i {
    border: 3px solid #6060e0;
    color: #6060e0;
}

.detail-page .content {
    margin-bottom: 100px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 100px;
}

.detail-page .comments {
    background-color: #eeeeee;
    padding: 20px;
    box-sizing: border-box;
}

.detail-page .comments h4 {
    font-size: 1.4em;
    margin-bottom: 20px;
}

.detail-page .comment-wrapper input {
    width: 100%;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid #eeeeee;
    box-sizing: border-box;
    resize: none;
    display: block;
    margin-bottom: 20px;
}

.detail-page .comment-wrapper input:focus {
    border-bottom: 1px solid #6060e0;
}

.detail-page .comment-action {
    text-align: right;
}

.detail-page .comment-action .comment-save-btn {
    border: 0;
    background-color: transparent;
    color: #cccccc;
}

.detail-page .comment-action .comment-save-btn i {
    font-size: 3em;
    border-radius: 10px;
    border: 1px solid #dee3eb;
    background-color: #ffffff;
}

.detail-page .comment-action .comment-save-btn:hover i {
    color: #6060e0;
    border: 1px solid #dee3eb;
    cursor: pointer;
}

.detail-page .comment-lists {
    margin-bottom: 30px;
}

.detail-page .comment-lists form {
    display: table-row;
}

.detail-page .comment-lists .comment-delete-btn {
    border: 0;
    background-color: #6060e0;
    color: #ffffff;
    border-radius: 2px;
    padding: 0 10px;
    cursor: pointer;
}

.detail-page .reaction-block {
    margin-bottom: 30px;
}

.detail-page .reaction-block button {
    display: inline-block;
    width: 5em;
    height: 5em;
    border-radius: 3em;
    border: 1px solid #cccccc;
    color: #cccccc;
    cursor: pointer;
}

.detail-page .reaction-block button.active {
    border: 1px solid #6060e0;
    color: #6060e0;
}

.detail-page .reaction-block button[data-type] span {
    display: block;
}