<html th:lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      layout:decorate="~{layout/main}">

<th:block th:replace="toolbar">
    <a href="/create" class="write"><i class="remixicon-user-line"></i></a>
</th:block>
<th:block layout:fragment="content">
    <header>
        <h1 class="logo"
            th:if="${#httpServletRequest.getParameter('query') == null || #httpServletRequest.getParameter('query').length() == 0}">
            꺄르륵 꺄르륵
        </h1>
        <h1 class="logo"
            th:unless="${#httpServletRequest.getParameter('query') == null || #httpServletRequest.getParameter('query').length() == 0}"
            th:text="'#' + ${#httpServletRequest.getParameter('query')}">
            꺄르륵 꺄르륵
        </h1>
        <form action="#" th:action="@{/}" method="get">
            <input type="text" placeholder="재밌는 글을 찾아욧" class="search-field" name="query" th:value="${query}"/>
        </form>
    </header>
<main class="main-page">
        <div class="action">
            <a href="/create" class="link-btn-icon"><i class="remixicon-pencil-line"></i></a>
        </div>
        <ul class="table main-table">
            <li class="table-row header">
                <span class="cell">번호</span>
                <span class="cell">내용</span>
                <span class="cell">꺄르륵</span>
                <span class="cell">@_@</span>
                <span class="cell"><i class="remixicon-discuss-line"></i></span>
                <span class="cell">네임</span>
            </li>
            <li class="table-row" th:each="post,index : ${postList}">
                <span class="cell" th:text="${postList.totalElements - (postList.getNumber() * 10) - index.index}">1</span>
                <span class="cell">
                    <a th:href="@{/posts/__${post.idx}__}" th:text="${post.title}">ㅗㅜㅑ... 제대루..</a>
                </span>
                <span class="cell" th:text="${post.reactionCount}">35</span>
                <span class="cell" th:text="${post.viewCount}">150</span>
                <span class="cell" th:text="${post.commentCount}"></span>
                <span class="cell">
                    <a href="#" th:text="${post.createUser.name}" th:href="@{'/member/@' + ${post.createUser.name}}"></a>
                </span>
            </li>
        </ul>
        <div class="pagination_wrap" th:if="${postList.totalElements > 0}">
            <ul class="pagination" sd:pagination-split="7" sd:pagination="full">
                <li class="disabled aa"><a href="#" aria-label="Previous"><span aria-hidden="true">이전</span></a></li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            </ul>
        </div>
</main>
</th:block>

</html>