<html th:lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      layout:decorate="~{layout/main}">

<th:block layout:fragment="content">
<main class="main-page member-page clearfix">
    <div class="user-left">
        <img src="#" alt="user-profile-pic" class="user-profile-pic"/>
    </div>
    <div class="user-right">

    </div>
</main>
</th:block>

</html>