<!DOCTYPE html>
<html th:lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="fragment/common :: meta" />
    <th:block th:replace="fragment/common :: head"/>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <style>
        .ql-editor {
            min-height: 400px;
        }
    </style>
    <title>모두가 웃는 소리 :: 꺄르륵</title>
</head>
<body>
<main class="write-page">
    <form th:action="@{/create}" th:object="${post}" method="post" th:name="post-form">
        <input type="hidden" th:field="*{idx}" readonly/>
        <div class="container write">
            <div class="action">
                <a class="back-btn action-btn" href="/">
                    <i class="remixicon-arrow-left-line"></i>
                </a>
                <button class="save-btn action-btn" type="submit">
                    <i class="remixicon-check-line"></i>
                </button>
            </div>
            <input type="text" class="create-title" placeholder="어떤 제목으로 글을 쓸까?" th:field="*{title}"/>
            <div id="editor" th:utext="*{content}"></div>
            <textarea id="content" th:field="*{content}" cols="30" rows="10" style="display: none"></textarea>
        </div>
    </form>
    <input type="file" style="display: none;" id="file"/>
</main>
<th:block th:replace="fragment/common :: script"/>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
    var editor = new Quill('#editor', {
        theme: 'snow',
        modules: {
            toolbar: [
                [{header: [1, 2, 3, 4, false]}],
                ['bold', 'italic', 'link', 'blockquote', 'code-block'],
                ['image', 'video'],
                [{
                    list: 'ordered'
                }, {
                    list: 'bullet'
                }]
            ]
        },
        placeholder: '꺄르륵꺄르륵 오늘은 어쩌고 저쩌고'
    });

    editor.getModule('toolbar').addHandler('image', uploadImage);
    
    function uploadImage(e) {
        var input = document.getElementById('file');
        input.click();

        input.onchange = function (ev) {
            var f = new FormData();
            var file = input.files;

            if (file.length > 0) {
                f.append('file', file[0]);

                $http.post('/file-upload', f, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then(function (res) {
                    var range = editor.getSelection();
                    editor.insertEmbed(range.index, 'image', res.data.link);
                }).catch(function (reason) {
                    alert('제발 여기는 걸리지 말자...');
                });
            }
        }
    }

    document['post-form'].addEventListener('submit', function (e) {
        e.preventDefault();
        document.getElementById('content').innerText = document.querySelector('.ql-editor').innerHTML;

        var f = new FormData(this);
        var title = f.get('title');
        var content = f.get('content');
        var errors = [];

        if (title.length === 0) {
            errors.push('title');
        }
        if (content.length === 0) {
            errors.push('content');
        }

        if (errors.length > 0) {
            alert('제목이랑 내용을 써주세욧');
            return;
        }

        this.submit();
    })
</script>
</body>
</html>