<html th:lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      layout:decorate="~{layout/main}">

<th:block th:replace="toolbar">
    <a href="/create" class="write"><i class="remixicon-user-line"></i></a>
</th:block>
<th:block layout:fragment="content">
<header>
    <h1 class="logo" th:text="${post.title}">꺄르륵 꺄르륵</h1>
</header>
<main class="detail-page main-page">
    <div class="action">
        <a href="/" class="link-btn-icon"><i class="remixicon-arrow-left-line"></i></a>
        <span class="space"></span>
        <a th:if="${post.createUser.email == #authentication.name}" th:href="@{/posts/__${post.idx}__/update}" class="link-btn-icon mr-10"><i class="remixicon-edit-line"></i></a>
        <a href="/create" class="link-btn-icon"><i class="remixicon-pencil-line"></i></a>
    </div>

    <div class="content" th:utext="${post.content}">
        하하하
    </div>

    <!--  comment  -->
    <div class="comments">
        <h4>댓글</h4>
        <form action="#" th:action="@{/posts/__${post.idx}__/comment}" method="post" th:object="${comment}">
            <div class="comment-wrapper">
                <input th:field="*{content}" placeholder="댓글..."/>
            </div>
            <div class="comment-action">
                <button class="comment-save-btn"><i class="remixicon-check-line"></i></button>
            </div>
        </form>
        <div class="comment-lists">
            <ul class="table">
                <li class="table-row" th:each="item, index : ${commentList}">
                    <span class="cell" th:text="${item.content}">1</span>
                    <span class="cell" th:text="${item.createUser.name}">1</span>
                    <span class="cell" th:text="${item.createTime}">1</span>
                    <span class="cell">
                        <button th:if="${item.createUser.email == #authentication.name}">삭제</button>
                    </span>
                </li>
            </ul>
        </div>
        <div class="pagination_wrap">
            <ul class="pagination" sd:pagination-split="7" sd:pagination="full">
                <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                <li class="disabled aa"><a href="#" aria-label="Previous"><span aria-hidden="true">이전</span></a></li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            </ul>
        </div>
    </div>
</main>
</th:block>

</html>