<!DOCTYPE html>
<html th:lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/auth}">

<th:block layout:fragment="content">
    <main class="auth-page">
        <form th:action="@{/auth/register}" class="in-form" name="submit-form" method="post" th:object="${user}">
            <h4>@_@ 가입하기.</h4>
            <input type="text" class="email" name="email" th:field="*{email}" placeholder="* my@email.com" />
            <input type="text" class="name" name="name" th:field="*{name}" placeholder="* 화염의지배자불닭볶음" />
            <input type="password" class="email" name="password-confirm" placeholder="****" />
            <input type="password" class="email" name="password" th:field="*{password}" placeholder="**** - 확인" />
            <button class="submit-btn"><i class="remixicon-arrow-left-up-line"></i> 가입</button>

            <div class="other-block">
                <a href="/" class="go-ragist">귀찮아요. 다음에 할께요.</a>
                <span class="space"></span>
                <a href="/auth/register" class="go-ragist">입장하러 가기</a>
            </div>
        </form>
    </main>
</th:block>
<th:block layout:fragment="script">
    <script>
        document['submit-form'].addEventListener('submit', function (e) {
            e.preventDefault();
            var form = new FormData(this);

            var email = form.get('email');
            var password = form.get('password');
            var password_confirm = form.get('password-confirm');

            if (email.length === 0) {
                alert('이메일을 입력 해주세요...');
                return;
            }

            if (password.length === 0) {
                alert('비밀번호를 입력 해주세요...');
                return;
            }

            if (password !== password_confirm) {
                alert('비밀번호 두개가 달라욧');
                return;
            }

            this.submit();
        })
    </script>
</th:block>
</html>